* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Sniglet", cursive;
  display: flex;
  flex-direction: column;
}
body header {
  margin: 0%;
  padding: 0%;
}
body header .contain {
  width: 100%;
}
body header .contain .right {
  background: #413a8e;
  padding: 10px;
  height: 20px;
  width: 100%;
}
body header .contain .menu {
  padding: 10px;
  background: black;
  margin: 0;
  font-family: "Sniglet", cursive;
  display: flex;
  justify-content: flex-end;
}
body header .contain .menu .item {
  list-style: none;
  padding: 5px;
  margin: 0 35px;
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-family: 25px;
}
body header .contain .menu :hover {
  color: aquamarine;
  list-style: none;
}
body header .contain .photo {
  position: relative;
}
body header .contain .photo .contain-text {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: center;
  color: #fff;
  width: 40%;
}
body header .contain .photo .contain-text .text {
  padding: 3% 10%;
}
body header .contain .photo .contain-text .text h1 {
  text-shadow: -5px -4px 10px #181717;
  font-family: "Rock Salt", cursive;
  font-size: 80px;
}
body header .contain .photo .contain-text .text h4 {
  letter-spacing: 1.5px;
  font-size: 35px;
  font-family: "Euphoria Script", cursive;
  text-shadow: -5px -5px 5px #181717;
}
body main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
body main article {
  flex: 2;
  overflow-y: auto;
}
body main article .parrafo {
  margin: auto;
  text-align: center;
  padding: 3%;
  background: #C3E8BD;
}
body main article .parrafo .p {
  width: 800px;
  margin: auto;
  text-justify: auto;
  text-align: justify;
}
body main article .parrafo .p h2 {
  font-family: "Euphoria Script", cursive;
  text-align: center;
  font-size: 55px;
}
body main article .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main article .info .texto {
  background: #FFF49F;
  padding: 8% 8%;
  font-size: 20px;
  width: 60%;
  text-align: justify;
}
body main article .info .texto h3 {
  font-family: "Euphoria Script", cursive;
  text-align: center;
  font-size: 55px;
}
body main article .parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
body main article .parallax-1 {
  background-image: url("http://www.fondosblackberry.com/user-content/uploads/wall/o/20/Orquideorama-Medellin-Colombia1.jpg");
  height: 800px;
}
body main article .parallax-2 {
  background-image: url("https://www.movichhotels.com/PublishingImages/ciudades/medellin/intercontinental/slider-home-inter/sl-med-inter-segunMovich.jpg");
  height: 800px;
}
body main aside {
  flex: 1;
  position: sticky;
  top: 0;
  width: 25%;
  height: 102vh;
  background: #FEFBEA;
}
body main aside .contenedor {
  top: 30px;
}
body main aside .contenedor .logo {
  text-align: center;
}
body main aside .contenedor .text {
  text-align: justify;
  padding: 10%;
}
body main aside .contenedor .text h1 {
  font-family: "Rock Salt", cursive;
}
body main aside .contenedor .text p {
  font-size: 20px;
}
body footer {
  margin: 0;
  padding: 5px;
  background: black;
  width: 100%;
  color: #fff;
}
body footer p {
  letter-spacing: 2px;
  text-align: center;
  font-family: "Sniglet", cursive;
}
body footer p a {
  color: #fff;
  text-decoration: none;
}
body footer p :hover {
  border-bottom: 1px solid #fff;
}

.main {
  background: #ebb96f;
}
.main .parrafo {
  background: #B7E1F0;
}
.main .parrafo h2 {
  font-family: "Euphoria Script", cursive;
  font-size: 55px;
}
.main .parrafo p {
  text-align: justify;
  width: 50%;
  margin: 0 auto;
}
.main .parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://farm4.staticflickr.com/3785/9052837509_bef07e5973_o.jpg");
}
.main .tweets {
  margin: 0 auto;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
.main .tweets .tweet {
  margin: 0 40px;
}

aside .parrafo {
  padding: 5%;
  margin: 5% auto;
  text-align: center;
}
aside .parrafo h3 {
  font-family: "Euphoria Script", cursive;
  font-size: 45px;
}
aside .parrafo p {
  font-size: 18px;
  text-align: justify;
  padding: 5%;
}
aside .tweets {
  margin: auto;
  display: flex;
  flex-direction: column;
}
aside .tweets .tweet {
  margin: 0 10%;
}

/*# sourceMappingURL=style.css.map */
